# configure then shove this data into the "Values" field under
# Parameters in the ArgoCD Application
homelabDeploy:
  # get this from https://cloud.linode.com/profile/tokens
  linodeApiToken: "mytoken"

  # get this from http://pi.hole/ somewhere i can't remember exactly
  # where sorry, also enable sudo for app tokens
  piholeAppPassword: "mypassword"

  # get these from hopefully your password manager of choice
  nextcloud:
    nextcloud-username: 'idk'
    nextcloud-password: 'hunter2'
    postgresAdminPassword: 'hunter2'
    postgresUserPassword: 'hunter2'
    postgresReplicationPassword: 'hunter2'
    redis-password: 'hunter2'
